.body__ {
  &what {
    width: 100%;
  }
  &container {
    background-color: #F8F8F8;
    padding-bottom: 7.5rem;
    padding-top: 9.0625rem;


    font-family: Proxima Nova, sans-serif;
  }
  &wrapper {
    position: relative;
    &-line {
      position: absolute;
      width: 100%;
      text-align: end;
      left: -18.5625rem;
      top: -33px;
    }
    &-desc {
      /*margin-left: 19rem;
      margin-right: 19rem;*/

      /*display: flex;
      flex-wrap: wrap;
      justify-content: space-between;*/
      display: grid;
      grid-template-columns: 271px 241px 281px;
      gap: 100px;
      justify-content: center;
      margin-top: 4.3750rem;
      &-item {
        display: flex;
        flex-direction: column;
        /*width: 16.9375rem;*/
        &-img {
          height: 150px;
          &-device {
            width: 142px;
            height: 146px;
            margin-left: 39px;
          }
          &-user {
            width: 160px;
            height: 150px;
            margin-left: 40px;
          }
          &-transaction {
            width: 150px;
            height: 150px;
            margin-left: 57px;
          }
          &-methods {
            width: 132px;
            height: 139px;
            margin-left: 56px;
          }
          &-hsm {
            width: 191px;
            height: 127px;
            margin-left: 37px;
          }
          &-security {
            width: 210px;
            height: 108px;
            margin-left: 29px;
          }
        }
        &-title {
          margin-top: 1.75rem;

          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          color: #7050E5;
          text-transform: uppercase;
        }
        &-text {
          margin-top: 0.5rem;

          font-size: 15px;
          font-weight: 400;
          line-height: 19px;
          color: #878787;
        }
      }
    }
    &-title {
      font-size: clamp(34px, 5vw, 60px);
      font-weight: 700;
      line-height: 72px;
      color: #7050E5;

      text-align: end;
      margin-right: 22.6250rem;
    }
  }
  &info {
    padding-top: 7.1250rem;
    padding-bottom: 6.0625rem;
    font-family: Proxima Nova, sans-serif;
    &-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 27.7500rem;

      &-desc {
        margin-left: 10rem;
        max-width: 28.4375rem;
        width: 100%;
        align-self: center;
        &-title {
          font-size: clamp(24px, 5vw, 40px);
          font-weight: 700;
          line-height: clamp(32px ,5vw,55px);
          color: #7050E5;
        }
        &-text {
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;

          color: #878787;
          margin-top: 0.9375rem;
        }
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 10.6875rem;
          height: 2.75rem;
          border-radius: 4px;
          color: #FFFFFF;
          background-color: #FF8B00;
          cursor: pointer;

          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          text-transform: uppercase;

          margin-top: 2.3750rem;
          &-mobile {
            display: none;
          }
        }


      }
      &-video {
        margin-left: 7.75rem;
        max-width: 45.2500rem;
        min-width: 19.9375rem;
        width: 100%;
        max-height: 27.7500rem;
        height: 100%;
      }
    }
  }
  &form {
    background-color: #232323;
    position: relative;

    font-family: Proxima Nova, sans-serif;
    &-wrapper {
      position: relative;

      display: flex;
      flex-direction: row;

      margin-top: 7.5rem;
      margin-bottom: 7.5rem;
      &-title {
        z-index: 9999;

        margin-left: 12.5rem;

        font-size: clamp(34px, 5vw, 55px);
        font-weight: 700;
        line-height: clamp(40px, 5vw, 55px);
        color: #FFFFFF;
      }
      &-contact {
        margin-left: 14.3750rem;
        width: 100%;

        &-title {
          font-size: 28px;
          font-weight: 700;
          letter-spacing: -0.0267em;

          color: #FFFFFF;
        }
        &-addr {
          display: flex;
          flex-direction: column;

          margin-top: 1.75rem;
          &-input {
            //width: 100%;
            //height: 2.5rem;
            border: unset;
            border-radius: 8px;
            padding: 0.5625rem 0.8125rem;
            margin-top: 0.5rem;

            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
          }
          &-text {
            font-size: 13px;
            font-weight: 600;

            text-transform: capitalize;
            color: #FFFFFF;
          }
        }
        &-mail {
          display: flex;
          flex-direction: column;

          margin-top: 1.75rem;
          &-input {
            //width: 100%;
            height: 6rem;
            border: unset;
            border-radius: 8px;
            padding: 0.9375rem 0.8125rem;
            margin-top: 0.5rem;

            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
          }
          &-text {
            font-size: 13px;
            font-weight: 600;

            text-transform: capitalize;
            color: #FFFFFF;
          }
        }
        &-chest {
          display: flex;
          flex-direction: row;

          gap: 1.25rem;
          margin-top: 1.75rem;
          &-box {
            display: flex;
            flex-direction: column;
            max-width: 19.5rem;
            width: 100%;

            &-input {
              //height: 2.5rem;
              border: unset;
              border-radius: 8px;
              margin-top: 0.5rem;
              padding: 0.5625rem 0.8125rem;

              font-family: Raleway, sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
            }
            &-text {
              font-size: 13px;
              font-weight: 600;

              text-transform: capitalize;
              color: #FFFFFF;
            }
          }
        }
        &-btn  {
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          border-radius: 4px;

          margin-top: 2rem;
          color: #FFFFFF;
          cursor: pointer;
          border: unset;

          width: 12.5625rem;
          height: 3.3125rem;
          background-color: #FF8B00;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

  }
}
.startedForm {
  z-index: 99;
}

.gradient {
  &-top {
    width: 46.6250rem;
    height: 47.3125rem;
    position: absolute;
  }

  &-bottom {
    width: 29.5rem;
    height: 29.8750rem;
    position: absolute;

    top: 119px;
    left: 55.5625rem;
  }
}

@media (max-width: 1484px) {
  .body__ {
    &form {
      &-wrapper {
        margin: 7.5rem auto 7.5rem auto;
        &-title {
          margin-left: unset;
        }
        &-contact {
          margin-left: 2.375rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .body__ {
    &form {
      &-wrapper {
        flex-direction: column;
        &-title {
          margin-left: unset;
          padding-top: 2.5rem;
        }
        &-contact {
          margin-left: unset;
        }
      }
    }
  }
}

@media (max-width: 1076px) {
  .body__ {
    &wrapper {
      &-desc {
        grid-template-columns: 271px 241px;
        grid-template-rows: 359px 435px;
      }
    }
  }
  
}

@media (max-width: 800px) {
  .body__ {
    &container {
      padding-top: 3.75rem;
      padding-bottom: 3rem;
    }
    &wrapper {

      &-line {
        left: -35px;
        top: -12px;
      }
      &-desc {
        grid-template-columns: 16.9375rem;
        grid-template-rows: auto;
        gap: 3.75rem;
        margin-top: 3.75rem;
        &-item {

          &-img {
            height: 100%;
            align-self: center;
            &-device {
              width: 106px;
              height: 109px;
              margin-left: unset;
            }
            &-user {
              width: 106px;
              height: 100px;
              margin-left: unset;
            }
            &-transaction {
              width: 100px;
              height: 100px;
              margin-left: unset;
            }
            &-methods {
              width: 100px;
              height: 105px;
              margin-left: unset;
            }
            &-hsm {
              width: 191px;
              height: 127px;
              margin-left: unset;
            }
            &-security {
              width: 210px;
              height: 108px;
              margin-left: unset;
            }
          }
          &-title {

          }
          &-text {
            margin-top: 1rem;
          }
        }
      }
      &-title {
        text-align: center;
        margin: unset;
      }
    }
    &info {
      padding-top: 6.25rem;
      &-wrapper {
        flex-direction: column;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        height: 100%;
        &-desc {
          margin-left: unset;
          &:last-child {

            margin-left: unset;
          }
          &-title {

          }
          &-text {
            margin-top: 1rem;
            max-width: 18.4375rem;
            width: 100%;
          }
          &-btn {
            margin-top: 2.5rem;
            display: none;
            &-mobile {
              display: flex;
            }
          }
        }
        &-video {
          margin-top: 1.75rem;
          margin-left: unset;
          height: 12.2500rem;
        }

      }
    }
    &form {
      padding-bottom: 2.5rem;
      z-index: 2;
      &-wrapper {
        flex-direction: column;
        margin: auto;
        &-title {
          margin-left: unset;
          padding-top: 2.5rem;
        }
        &-contact {
          margin-left: unset;
          margin-top: 3rem;
          width: 19.4375rem;
          &-title {
            margin-left: unset;
          }
          &-addr {

            &-input {

            }
            &-text {

            }
          }
          &-mail {

            &-input {

            }
            &-text {

            }
          }
          &-chest {
            flex-direction: column;
            &-box {

              &-input {

              }
              &-text {

              }
            }
          }
          &-btn  {
            margin: 2rem auto 0 auto;
          }
        }
      }

    }
  }
  .startedForm {
  }

  .gradient {
    &-top {

    }

    &-bottom {
      display: none;
    }
  }
}

