.body__ {
  &container {
    background-color: #F8F8F8;
    padding-bottom: 7.5rem;
    padding-top: 9.0625rem;


    font-family: Proxima Nova, sans-serif;
  }
  &wrapper {
    &-line {
      display: flex;
      justify-content: end;
      margin-right: 18.5625rem;
    }
    &-desc {
      margin-left: 19rem;
      margin-right: 19rem;


      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        display: flex;
        flex-direction: column;
        width: 16.9375rem;
        margin-top: 4.3750rem;
        &-img {
          width: 150px;
          height: 150px;
        }
        &-title {
          margin-top: 1.75rem;

          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          color: #7050E5;
          text-transform: uppercase;
        }
        &-text {
          margin-top: 0.5rem;

          font-size: 15px;
          font-weight: 400;
          line-height: 19px;
          color: #878787;
        }
      }
    }
    &-title {
      font-size: 60px;
      font-weight: 700;
      line-height: 72px;
      color: #7050E5;

      text-align: end;
      margin-right: 22.6250rem;
    }
  }
}

