.body__what {
  width: 100%; }
.body__container {
  background-color: #F8F8F8;
  padding-bottom: 7.5rem;
  padding-top: 9.0625rem;
  font-family: Proxima Nova, sans-serif; }
.body__wrapper {
  position: relative; }
  .body__wrapper-line {
    position: absolute;
    width: 100%;
    text-align: end;
    left: -18.5625rem;
    top: -33px; }
  .body__wrapper-desc {
    /*margin-left: 19rem;
    margin-right: 19rem;*/
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 271px 241px 281px;
    gap: 100px;
    justify-content: center;
    margin-top: 4.3750rem; }
    .body__wrapper-desc-item {
      display: flex;
      flex-direction: column;
      /*width: 16.9375rem;*/ }
      .body__wrapper-desc-item-img {
        height: 150px; }
        .body__wrapper-desc-item-img-device {
          width: 142px;
          height: 146px;
          margin-left: 39px; }
        .body__wrapper-desc-item-img-user {
          width: 160px;
          height: 150px;
          margin-left: 40px; }
        .body__wrapper-desc-item-img-transaction {
          width: 150px;
          height: 150px;
          margin-left: 57px; }
        .body__wrapper-desc-item-img-methods {
          width: 132px;
          height: 139px;
          margin-left: 56px; }
        .body__wrapper-desc-item-img-hsm {
          width: 191px;
          height: 127px;
          margin-left: 37px; }
        .body__wrapper-desc-item-img-security {
          width: 210px;
          height: 108px;
          margin-left: 29px; }
      .body__wrapper-desc-item-title {
        margin-top: 1.75rem;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        color: #7050E5;
        text-transform: uppercase; }
      .body__wrapper-desc-item-text {
        margin-top: 0.5rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        color: #878787; }
  .body__wrapper-title {
    font-size: clamp(34px, 5vw, 60px);
    font-weight: 700;
    line-height: 72px;
    color: #7050E5;
    text-align: end;
    margin-right: 22.6250rem; }
.body__info {
  padding-top: 7.1250rem;
  padding-bottom: 6.0625rem;
  font-family: Proxima Nova, sans-serif; }
  .body__info-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 27.7500rem; }
    .body__info-wrapper-desc {
      margin-left: 10rem;
      max-width: 28.4375rem;
      width: 100%;
      align-self: center; }
      .body__info-wrapper-desc-title {
        font-size: clamp(24px, 5vw, 40px);
        font-weight: 700;
        line-height: clamp(32px, 5vw, 55px);
        color: #7050E5; }
      .body__info-wrapper-desc-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: #878787;
        margin-top: 0.9375rem; }
      .body__info-wrapper-desc-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10.6875rem;
        height: 2.75rem;
        border-radius: 4px;
        color: #FFFFFF;
        background-color: #FF8B00;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        margin-top: 2.3750rem; }
        .body__info-wrapper-desc-btn-mobile {
          display: none; }
    .body__info-wrapper-video {
      margin-left: 7.75rem;
      max-width: 45.2500rem;
      min-width: 19.9375rem;
      width: 100%;
      max-height: 27.7500rem;
      height: 100%; }
.body__form {
  background-color: #232323;
  position: relative;
  font-family: Proxima Nova, sans-serif; }
  .body__form-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem; }
    .body__form-wrapper-title {
      z-index: 9999;
      margin-left: 12.5rem;
      font-size: clamp(34px, 5vw, 55px);
      font-weight: 700;
      line-height: clamp(40px, 5vw, 55px);
      color: #FFFFFF; }
    .body__form-wrapper-contact {
      margin-left: 14.3750rem;
      width: 100%; }
      .body__form-wrapper-contact-title {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -0.0267em;
        color: #FFFFFF; }
      .body__form-wrapper-contact-addr {
        display: flex;
        flex-direction: column;
        margin-top: 1.75rem; }
        .body__form-wrapper-contact-addr-input {
          border: unset;
          border-radius: 8px;
          padding: 0.5625rem 0.8125rem;
          margin-top: 0.5rem;
          font-family: Raleway, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px; }
        .body__form-wrapper-contact-addr-text {
          font-size: 13px;
          font-weight: 600;
          text-transform: capitalize;
          color: #FFFFFF; }
      .body__form-wrapper-contact-mail {
        display: flex;
        flex-direction: column;
        margin-top: 1.75rem; }
        .body__form-wrapper-contact-mail-input {
          height: 6rem;
          border: unset;
          border-radius: 8px;
          padding: 0.9375rem 0.8125rem;
          margin-top: 0.5rem;
          font-family: Raleway, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 22px; }
        .body__form-wrapper-contact-mail-text {
          font-size: 13px;
          font-weight: 600;
          text-transform: capitalize;
          color: #FFFFFF; }
      .body__form-wrapper-contact-chest {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        margin-top: 1.75rem; }
        .body__form-wrapper-contact-chest-box {
          display: flex;
          flex-direction: column;
          max-width: 19.5rem;
          width: 100%; }
          .body__form-wrapper-contact-chest-box-input {
            border: unset;
            border-radius: 8px;
            margin-top: 0.5rem;
            padding: 0.5625rem 0.8125rem;
            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px; }
          .body__form-wrapper-contact-chest-box-text {
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            color: #FFFFFF; }
      .body__form-wrapper-contact-btn {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 4px;
        margin-top: 2rem;
        color: #FFFFFF;
        cursor: pointer;
        border: unset;
        width: 12.5625rem;
        height: 3.3125rem;
        background-color: #FF8B00;
        display: flex;
        align-items: center;
        justify-content: center; }
.body__modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .body__modal-body {
    height: 500px; }
    .body__modal-body-video {
      width: 100%;
      height: 100%; }
  .body__modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; }

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.startedForm {
  z-index: 99; }

.gradient-top {
  width: 46.6250rem;
  height: 47.3125rem;
  position: absolute; }
.gradient-bottom {
  width: 29.5rem;
  height: 29.8750rem;
  position: absolute;
  top: 119px;
  left: 55.5625rem; }

@media (max-width: 1484px) {
  .body__form-wrapper {
    margin: 7.5rem auto 7.5rem auto; }
    .body__form-wrapper-title {
      margin-left: unset; }
    .body__form-wrapper-contact {
      margin-left: 2.375rem; } }
@media (max-width: 900px) {
  .body__form-wrapper {
    flex-direction: column; }
    .body__form-wrapper-title {
      margin-left: unset;
      padding-top: 2.5rem; }
    .body__form-wrapper-contact {
      margin-left: unset; } }
@media (max-width: 1076px) {
  .body__wrapper-desc {
    grid-template-columns: 271px 241px;
    grid-template-rows: 359px 435px; } }
@media (max-width: 800px) {
  .body__container {
    padding-top: 3.75rem;
    padding-bottom: 3rem; }
  .body__wrapper-line {
    left: -35px;
    top: -12px; }
  .body__wrapper-desc {
    grid-template-columns: 16.9375rem;
    grid-template-rows: auto;
    gap: 3.75rem;
    margin-top: 3.75rem; }
    .body__wrapper-desc-item-img {
      height: 100%;
      align-self: center; }
      .body__wrapper-desc-item-img-device {
        width: 106px;
        height: 109px;
        margin-left: unset; }
      .body__wrapper-desc-item-img-user {
        width: 106px;
        height: 100px;
        margin-left: unset; }
      .body__wrapper-desc-item-img-transaction {
        width: 100px;
        height: 100px;
        margin-left: unset; }
      .body__wrapper-desc-item-img-methods {
        width: 100px;
        height: 105px;
        margin-left: unset; }
      .body__wrapper-desc-item-img-hsm {
        width: 191px;
        height: 127px;
        margin-left: unset; }
      .body__wrapper-desc-item-img-security {
        width: 210px;
        height: 108px;
        margin-left: unset; }
    .body__wrapper-desc-item-text {
      margin-top: 1rem; }
  .body__wrapper-title {
    text-align: center;
    margin: unset; }
  .body__info {
    padding-top: 6.25rem; }
    .body__info-wrapper {
      flex-direction: column;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      height: 100%; }
      .body__info-wrapper-desc {
        margin-left: unset; }
        .body__info-wrapper-desc:last-child {
          margin-left: unset; }
        .body__info-wrapper-desc-text {
          margin-top: 1rem;
          max-width: 18.4375rem;
          width: 100%; }
        .body__info-wrapper-desc-btn {
          margin-top: 2.5rem;
          display: none; }
          .body__info-wrapper-desc-btn-mobile {
            display: flex; }
      .body__info-wrapper-video {
        margin-top: 1.75rem;
        margin-left: unset;
        height: 12.2500rem; }
  .body__form {
    padding-bottom: 2.5rem;
    z-index: 2; }
    .body__form-wrapper {
      flex-direction: column;
      margin: auto; }
      .body__form-wrapper-title {
        margin-left: unset;
        padding-top: 2.5rem; }
      .body__form-wrapper-contact {
        margin-left: unset;
        margin-top: 3rem;
        width: 19.4375rem; }
        .body__form-wrapper-contact-title {
          margin-left: unset; }
        .body__form-wrapper-contact-chest {
          flex-direction: column; }
        .body__form-wrapper-contact-btn {
          margin: 2rem auto 0 auto; }

  .gradient-bottom {
    display: none; } }

/*# sourceMappingURL=body.css.map */
