.body__ {
  &container {
    background-color: #F8F8F8;
    padding-bottom: 7.5rem;
    padding-top: 9.0625rem;


    font-family: Proxima Nova, sans-serif;
  }
  &wrapper {
    position: relative;
    width: 100rem;
    &-line {
      position: absolute;
      width: 100%;
      text-align: end;
      left: -18.5625rem;
      top: -33px;
    }
    &-desc {
      /*margin-left: 19rem;
      margin-right: 19rem;*/

      /*display: flex;
      flex-wrap: wrap;
      justify-content: space-between;*/
      display: grid;
      grid-template-columns: 271px 241px 281px;
      gap: 100px;
      justify-content: center;
      margin-top: 4.3750rem;
      &-item {
        display: flex;
        flex-direction: column;
        /*width: 16.9375rem;*/
        &-img {
          height: 150px;
          &-device {
            width: 142px;
            height: 146px;
            margin-left: 39px;
          }
          &-user {
            width: 160px;
            height: 150px;
            margin-left: 40px;
          }
          &-transaction {
            width: 150px;
            height: 150px;
            margin-left: 57px;
          }
          &-methods {
            width: 132px;
            height: 139px;
            margin-left: 56px;
          }
          &-hsm {
            width: 191px;
            height: 127px;
            margin-left: 37px;
          }
          &-security {
            width: 210px;
            height: 108px;
            margin-left: 29px;
          }
        }
        &-title {
          margin-top: 1.75rem;

          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          color: #7050E5;
          text-transform: uppercase;
        }
        &-text {
          margin-top: 0.5rem;

          font-size: 15px;
          font-weight: 400;
          line-height: 19px;
          color: #878787;
        }
      }
    }
    &-title {
      font-size: 60px;
      font-weight: 700;
      line-height: 72px;
      color: #7050E5;

      text-align: end;
      margin-right: 22.6250rem;
    }
  }
  &info {
    padding-top: 7.1250rem;
    padding-bottom: 6.0625rem;
    font-family: Proxima Nova, sans-serif;
    &-wrapper {
      display: flex;
      flex-direction: row;
      &-desc {
        margin-left: 10rem;
        max-width: 28.4375rem;
        width: 100%;
        align-self: center;
        &:last-child {
          margin-left: 7.75rem;
          width: 45.2500rem;
          height: 27.7500rem;
          align-self: unset;
        }
        &-title {
          font-size: 40px;
          font-weight: 700;
          line-height: 55px;

          color: #7050E5;
        }
        &-text {
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;

          color: #878787;
          margin-top: 0.9375rem;
        }
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 10.6875rem;
          height: 2.75rem;
          border-radius: 4px;
          color: #FFFFFF;
          background-color: #FF8B00;
          cursor: pointer;

          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          text-transform: uppercase;

          margin-top: 2.3750rem;
        }
        &-video {
          width: 45.2500rem;
          height: 27.7500rem;
        }

      }
    }
  }
  &form {
    background-color: #232323;
    position: relative;

    font-family: Proxima Nova, sans-serif;
    &-wrapper {
      position: relative;

      display: flex;
      flex-direction: row;

      margin-top: 7.5rem;
      margin-bottom: 7.5rem;
      &-title {
        z-index: 9999;

        margin-left: 12.5rem;

        font-size: clamp(34px, 5vw, 55px);
        font-weight: 700;
        line-height: 55px;
        color: #FFFFFF;
      }
      &-contact {
        margin-left: 14.3750rem;
        &-title {
          font-size: 28px;
          font-weight: 700;
          letter-spacing: -0.0267em;

          color: #FFFFFF;
        }
        &-addr {
          display: flex;
          flex-direction: column;

          margin-top: 1.75rem;
          &-input {
            //width: 100%;
            //height: 2.5rem;
            border: unset;
            border-radius: 8px;
            padding: 0.5625rem 0.8125rem;
            margin-top: 0.5rem;

            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
          }
          &-text {
            font-size: 13px;
            font-weight: 600;

            text-transform: capitalize;
            color: #FFFFFF;
          }
        }
        &-mail {
          display: flex;
          flex-direction: column;

          margin-top: 1.75rem;
          &-input {
            //width: 100%;
            height: 6rem;
            border: unset;
            border-radius: 8px;
            padding: 0.9375rem 0.8125rem;
            margin-top: 0.5rem;

            font-family: Raleway, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
          }
          &-text {
            font-size: 13px;
            font-weight: 600;

            text-transform: capitalize;
            color: #FFFFFF;
          }
        }
        &-chest {
          display: flex;
          flex-direction: row;

          gap: 1.25rem;
          margin-top: 1.75rem;
          &-box {
            display: flex;
            flex-direction: column;
            &-input {
              width: 19.5rem;
              //height: 2.5rem;
              border: unset;
              border-radius: 8px;
              margin-top: 0.5rem;
              padding: 0.5625rem 0.8125rem;

              font-family: Raleway, sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
            }
            &-text {
              font-size: 13px;
              font-weight: 600;

              text-transform: capitalize;
              color: #FFFFFF;
            }
          }
        }
        &-btn  {
          font-size: 14px;
          font-weight: 700;
          line-height: 18px;
          border-radius: 4px;

          margin-top: 2rem;
          color: #FFFFFF;
          cursor: pointer;
          border: unset;

          width: 12.5625rem;
          height: 3.3125rem;
          background-color: #FF8B00;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

  }
}
.startedForm {
  z-index: 99;
}

.gradient {
  &-top {
    width: 46.6250rem;
    height: 47.3125rem;
    position: absolute;
  }
  &-bottom {
    width: 29.5rem;
    height: 29.8750rem;
    position: absolute;

    top: 119px;
    left: 55.5625rem;
  }
}



