.container {
  max-width: 100rem;
  min-width: 375px; //rem
  width: 100%;
  display: flex;
  margin: auto;
}
.header__slide {
  &-container {
    margin: 0;
    padding: 0;

    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
  }
}

.header__ {
  &slide {
    width: 100%;
    margin: 0 auto;

    margin-left: 19.125rem;
    margin-top: 8.0625rem;
    &-viewport {
      width: 100%;
      overflow: hidden;
      position: relative;
      &-wrapper {
        display: flex;
        flex-direction: row;

        position: relative;
        width: calc(100% * 3);
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
      }
    }
  }
  &wrapper {
    position: relative;
    color: #FFFFFF;
    width: 100%;
    //height: 50.6250rem;
    background: url("/img/bg.png") no-repeat top;
    background-size: 100% 810px;
    &-menu {
      z-index: 10;
      display: flex;
      flex-direction: column;

      position: absolute;
      left: 95.4375rem;
      top: 20.6875rem;
      &-item {
        width: 19px;
        height: 22px;
        margin-top: 0.75rem;
        cursor: pointer;
        &:first-child {
          margin-top: unset;
        }
      }
    }
    &-nav {
      width: 100%;
      height: 6.25rem;
      padding-left: 14rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      &-item {
        font-family: Proxima Nova, sans-serif;
        gap: 1.75rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 31.2500rem;
        &-links {
          font-size: 15px;
          font-weight: 700;
          line-height: 18px;
          color: #FFFFFF;
          text-decoration: none;
          padding: 0rem 0.25rem 0.5rem 0.25rem;
          &:hover {
            border-bottom: 3px solid #FF8B00;
          }
        }
      }
      &-logo {
        width: 4.8750rem;
        height: 6.25rem;
      }
    }
    &-info {
      display: flex;
      flex-direction: row;

      width: calc(100%/3);
      list-style: none;
      float: left;

      font-family: Proxima Nova, sans-serif;
      /*margin-left: 19.1250rem;
      margin-top: 8.0625rem;*/
      &-box {
        display: flex;
        flex-direction: column;
        width: 36.5rem;
        &-title {
          font-size: clamp(32px, 5vw, 55px);
          font-weight: 700;
          line-height: clamp(40px, 5vw, 55px);
        }
        &-text {
          //width: 33.25rem;
          margin-top: 0.75rem;
          font-size: 16px;
          font-weight: 600;
          line-height: clamp(20px, 5vw, 30px);
        }
        &-btn {
          font-size: 14px;
          font-weight: 700;
          line-height: 45px;
          color: #FFFFFF;

          margin-top: 2.75rem;
          width: 10.8750rem;
          height: 3.3125rem;
          border-radius: 4px;
          background-color: #FF8B00;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      &-icon {
        width: 9.4375rem;
        height: 7.75rem;
        margin-left: 13.7500rem;

        display: flex;
        align-self: center;
      }
    }
    &-scroll {
      font-family: Proxima Nova, sans-serif;

      margin-top: 8.4375rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-icon {
        margin-top: 1.1875rem;
        width: 3.8750rem;
        height: 4.4375rem;
        cursor: pointer;
      }
      &-text {
        font-size: clamp(13px, 5vw, 15px);
        font-weight: 700;
        line-height: 20px;
      }
    }
    &-box {
      margin-top: 11.4375rem;
      padding-bottom: 8.1875rem;
      font-family: Proxima Nova, sans-serif;
      color: #7050E5;
      gap: 5.75rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      &-info {

        &-num {
          font-size: clamp(42px, 5vw, 60px);
          font-weight: 700;
          line-height: clamp(50px, 5vw, 60px);
        }
        &-text {
          text-transform: uppercase;
          margin-top: 0.8750rem;

          letter-spacing: -0.02em;
          font-size: clamp(13px, 5vw, 16px);
          font-weight: 700;
          line-height: 18px;
        }
      }
    }
  }
}


@media (max-width: 800px) {
  .container {
    //width: 23.4375rem;
  }

  .header__ {

    &wrapper {
      background: url("/img/bg-movile.png")no-repeat top;
      background-size: 100% 49.3125rem;
      &-nav {
        padding-left: 1.75rem;
        height: unset;
        margin-top: 1.75rem;
        &-item {
          display: none;
          &-links {

            &:hover {

            }
          }
        }
        &-logo {
          width: 50px;
          height: 39px;
        }
      }
      &-info {
        margin-top: 3.4375rem;
        margin-left: 1.75rem;
        flex-direction: column-reverse;
        &-box {
          width: 19.9375rem;
          margin-top: 4rem;
          &-title {

          }
          &-text {

          }
          &-btn {
            margin-top: 1.75rem;
          }
        }
        &-icon {
          margin-left: unset;
          width: 100px;
          height: 84px;
        }
      }
      &-scroll {
        margin-top: 4.25rem;
        &-icon {

        }
        &-text {

        }
      }
      &-box {
        margin-top: 8.3125rem;
        padding-bottom: 6.25rem;
        flex-direction: column;
        gap: 4.25rem;
        &-info {

          &-num {

          }
          &-text {

          }
        }
      }
    }
  }
}