.footer__ {
  &box {
    position: relative;
    width: 100%;
    &-icon {
      width: 9px;
      height: 10px;
    }
    &-text {
      font-family: Raleway, sans-serif;
      font-size: clamp(8px, 2vw, 10px);
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3.0625rem;
      background-color: #252525;
    }
  }
  &container {
    background-color:  #363636;
    margin-top: 6.0625rem;
    //height: 500px;
  }
  &wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;

    font-family: Proxima Nova, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    &-logo {
      width: 75px;
      height: 86px;

      position: absolute;
      left: 93.3125rem;
      bottom: 3.4375rem;
      &-img {
        width: 100%;
        height: 100%;
      }
    }
    &-twitter {
      margin-left: 14rem;
    }
    &-desc {
      display: flex;
      flex-direction: row;
      margin-left: 7.5rem;
      max-width: 45.8750rem;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      flex-wrap: wrap;

      font-family: Proxima Nova, sans-serif;
      &-box {
        display: flex;
        flex-direction: column;
        &-title {
          display: flex;
          flex-direction: row;
          margin-bottom: 1.25rem;
          &-icon {
            width: 17.5px;
            height: 20px;
          }
          &-text {
            margin-left: 0.5rem;
            color: #FF8B00;

            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
        }
        &-links {
          color: #FFFFFF;
          text-decoration: none;
          margin-bottom: 0.5rem;

          font-size: 14px;
          font-weight: 600;
          line-height: clamp(18px, 5vw,20px);
          &:last-child {
            margin-bottom: unset;
          }
          &:hover {
            background-color: #FF8B00;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .footer__ {
    &box {

      &-icon {

      }
      &-text {
        margin-top: 5rem;
        height: 5.9375rem;
        opacity: 80%;
      }
    }
    &container {
      margin-top: 6.0625rem;
    }
    &wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 3.75rem;
      &-logo {
        margin: 5rem auto 0 auto;
        position: unset;
      }
      &-twitter {
        margin-left: unset;
        //margin: auto;
      }
      &-desc {
        justify-content: center;
        margin-left: unset;
        margin-top: 3.75rem;

        &-box {
          width: 6.8750rem;
          margin-left: 3.25rem;
          &:first-child {
            margin-left: unset;
          }
          &:last-child {

            margin-left: unset;
            margin-top: 3rem;
            width: unset;
          }

          &-title {

            &-text {

            }
          }
          &-links {

            &:last-child {

            }
            &:hover {

            }
          }
        }
      }
    }
  }
}