.footer__ {
  &box {
    width: 100%;
    &-icon {
      width: 9px;
      height: 10px;
    }
    &-text {
      font-family: Raleway, sans-serif;
      font-size: 10px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3.0625rem;
      background-color: #252525;
    }
  }
  &container {
    background-color:  #363636;
    //height: 500px;
  }
  &wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3.5rem;

    font-family: Proxima Nova, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    &-twitter {
      margin-left: 14rem;
    }
    &-desc {
      display: flex;
      flex-direction: row;
      margin-left: 7.5rem;
      gap: 8.25rem;
      &-box {
        display: flex;
        flex-direction: column;
        &-title {
          display: flex;
          flex-direction: row;
          margin-bottom: 1.25rem;
          &-text {
            margin-left: 0.5rem;
            color: #FF8B00;
          }
        }
        &-links {
          color: #FFFFFF;
          text-decoration: none;
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: unset;
          }
          &:hover {
            background-color: #FF8B00;
            border-radius: 4px;
          }
        }
      }
    }
  }
}